.outterLoading {
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  gap: 6px;
}

.loading span {
  width: 4px;
  height: 50px;
  background: #4c86f9;
  animation: scale 0.9s ease-in-out infinite;
}

.loading span:nth-child(2) {
  background: #df59df;
  animation-delay: -0.8s;
}

.loading span:nth-child(3) {
  background: #e27559;
  animation-delay: -0.7s;
}

.loading span:nth-child(4) {
  background: #453ae6;
  animation-delay: -0.6s;
}

.loading span:nth-child(5) {
  background: #93a849;
  animation-delay: -0.5s;
}

@keyframes scale {

  0%,
  40%,
  100% {
    transform: scaleY(0.05);
  }

  20% {
    transform: scaleY(1);
  }
}
