<div class="sidebar" [class.open]="show">
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
<p>sidebar works! dvsssssssssssssssssssssss</p>
</div>
