<div>
  <label>Select An Option</label>
  <select [(ngModel)]="selectValue">
    <option value="">---select---</option>
    <option [value]="values.Success">Success</option>
    <option [value]="values.Error">Error</option>
    <option [value]="values.Warning">Warning</option>
  </select>
</div>
<div>
  <label>Message</label>
  <input type="text" [(ngModel)]="message" />
</div>
<button (click)="btnClick()" >Show Modal Click</button>

<br/>
<button (click)="btnDel()">Delete</button>
<br/>
@if(isShow){
  {{result}}
}
@else {
  No Button CLick
}
<br/>
All Route Data
<br/>

  @for(route of route_data; track route.name){
    path : {{route.path}} ---------- name: {{route.name}}
    <br>
  }@empty {
  route Data do not Exits
  }

<app-childComponent [count]="parentCount" (returnCounter)="parentCount = $event"></app-childComponent>
<button (click)="btnCounter_click()">CLICK</button>

