.modal-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  width: fit-content;
  height: fit-content;
  display: flex;
  z-index: 1;
}

.modal-box {
  width: 300px;
  border-radius: 10px;
  background: white;
  text-align: center;
  animation: popup .3s ease-in-out;
}

.modal-title-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@keyframes popup {
  from { transform: scale(0.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.modal-box.success { border-left: 5px solid #28a745; padding: 0px 15px; }
.modal-box.error { border-left: 5px solid #dc3545; padding: 0px 15px;}
.modal-box.warning { border-left: 5px solid #ffc107; padding: 0px 15px;}

.close-btn {
  border: none;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
}
