<div class="header-style">
  <div class="header-left">
    <div class="menu-icon" (click)="exploreButtonClick()">
      <span class="menu-line"></span>
      <span class="menu-line"></span>
      <span class="menu-line"></span>
    </div>
    <div class="header-title">
      <span class="title-text">{{ header_title }}</span>
    </div>
  </div>
  <div>
    <span class="title-text">{{ Route_title }}</span>
  </div>
  <div class="header-right">
    <div class="user-menu-btn" (click)="toggleUserMenu()" title="Logout">
      <i class="bi bi-person-vcard-fill"></i>
      <span class="user-menu-text">User Manual</span>
    </div>
  </div>
</div>
