.header-style {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #0ff;
  color: #141414;

  .header-title {
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .exploreIcon {
    cursor: pointer;
  }
}
