.body-bar{
  display: flex;
  gap:5px;
}

.route-outlate{
  text-align: justify;
  margin: 10px 10px;
  padding: 10px 10px;
  overflow-wrap: break-word;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 80vh;
}
