
.sidebar {
  order: 2px solid blue;
  padding: 10px;
  height: 78vh;
  overflow: hidden;
  scroll-behavior: smooth;
  overflow-y: scroll;
  background-color: rgb(50, 94, 94);
  color: white;
  position: absolute;

  /* ANIMATION SETTINGS */
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

/* When sidebar is visible */
.sidebar.open {
  transform: translateX(0);
  opacity: 1;
  width: 250px
}

.routeHeader a{
  text-decoration: none;
  color: wheat;
  cursor: pointer;
}

