.login-outer-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  overflow: hidden;
  color: #0ff;
}

/* Particles Canvas */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Login Box */

.login-box {
  position: relative;
  z-index: 2;
  width: 320px;
  padding: 30px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 25px #0ff;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 10px;
  font-size: 22px;
  text-transform: uppercase;
  color: #0ff;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #0ff;
  color: #0ff;
  font-size: 14px;
}
.RememberBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.RememberBox input {
  width: 10%;
}

.login-box button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  outline: none;
  background: #0ff;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  background: #00b3b3;
  box-shadow: 0 0 20px #0ff;
}

.login-box a {
  display: block;
  margin-top: 15px;
  font-size: 13px;
  color: #0ff;
  text-decoration: none;
  transition: 0.3s;
}

.login-box a:hover {
  color: #fff;
}
